* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #f3f2e6;
    --accent-1: #00578d;
    --accent-2: #f1c334;}

header, main, footer{
    width: 1000px;
    margin: 0 auto;
}

body {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: var(--primary-color);
}

header img{
    width: 200px; 
    height: auto;
    padding-left: 4rem;
    float: left;

}

nav {
    width: ;
    height: auto;
    display: flex;
    margin-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: row;
    justify-content: space-around; 
}

nav a {
    color: gray;
    padding: 5px;
    text-decoration: none;
}

#p1 {
    width: auto;
    height: auto;
    margin: 0rem 0;
    margin-right: 0rem;
    padding: 0rem
}

main img {
    width: 100%;
    height: auto;
}

h2 {
    color: var(--accent-2);
    text-align: center;
}

#p2 {
    margin: 1.5rem 0;
    margin-right: 0rem;
    padding: 3rem
}

section img {
    width: 4px;
    height: auto;
}

/* Class Selectors */

header {
    display: grid;
    grid-template-columns: 300px auto;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    text-align: center;
}

article {
    position: absolute;
    top: 150px;
    background-color: gray;
    padding: 3rem;
    margin: 3rem;
}

article img  {
   
width: 150px;
   height: auto;
   margin: 1rem;
   float: right;
}

.box-paragraph {
    width: 50rem;
    height: auto;
    margin-left: 10rem;
    margin-top: 0.7rem;
}

.history {
    display: flex;
    width: 1000px;
    height: auto;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.history h1 {
    display: flex;
    margin-bottom: 0px;
}

.history p {
    display: flex;
    width: 1000px;
    height: auto;
    padding: 3rem;
    flex-wrap: nowrap;
}

.history img {
    width: 200px;
    height: auto;
}

.history-paragraph2 {
    display: flex;
    width: 1000px;
    height: auto;
    padding: 3rem;
    flex-wrap: nowrap;

}


.adventure-images {
    display: flex;
    width: 100%;
    height: auto;
}

.adventure-images img {
    width: 100px;
}

.footer {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
}

