* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #f3f2e6;
    --accent-1: #00578d;
    --accent-2: #f1c334;}

header, main, footer{
    width: 1000px;
    margin: 0 auto;
}

body {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: var(--primary-color);
}

header img{
    width: 175px; 
    height: auto;
    float: left;

}

nav {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: row;
    justify-content: space-around; 
}

nav a {
    color: gray;
    padding: 5px;
    text-decoration: none;
}

main img {
    width: 100%;
    height: auto;
}

h2 {
    color: var(--accent-2);
    text-align: center;
}

figure {
    border: thin --secondary-color solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 310px;
    margin: auto;
}

figcaption {
    background-color: var(--accent-1);
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

h4 {
    color: var(--accent-2);
    text-align: center;
    font-size: x-large;
    margin: 3rem;
}

h5, h6 {
    color: var(--accent-2);
    text-align: center;
    font-size: x-large;
    margin: 3rem;
    margin-top: 4rem;
}

form {
    width: 700px;
    margin: 0 auto;
    padding: 0rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
  }

  fieldset {
    display: grid;
    grid-gap: 1rem;
    margin: 1rem;
    border: 1px #2f2f2f;
    padding: 1rem;
    text-align: left;
  }
  
  legend {
    padding: 0.5rem;
    color: var(--accent-1);
    font-size: 1.3em;
    text-align: left;
  }
  
  label {
    text-align: left;
    padding-right: 1rem;
  }

  input, select, textarea {
    padding: 0.5rem;
    font-size: 1rem;
  }
 
  input[type="checkbox"] {
    width: 17px;
    height: 17px;
    vertical-align: bottom;
    padding: 1rem;
  }

  button {
    margin: 1rem;
    background-color: #00578d;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
  }
  
  button:hover {
    background-color: #037a2f;
  }

/* Class Selectors */

header {
    display: grid;
    grid-template-columns: 300px auto;
}

.hero {
    position: relative;
    padding-bottom: 4rem;
}

.hero h1 {
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    text-align: center;
}

article {
    position: absolute;
    top: 150px;
    background-color: gray;
    color: #fff;
    margin-left: 20px;
    margin-right: 10px;
    padding: 1rem;
}

article img  {
    position: relative;
    width: 150px;
    height: auto;
    float: right;
}

article p {
    position: relative;
    width: 925px;
    height: auto;
}

.history {
    display: flex;
    width: 1000px;
    height: auto;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.history h1 {
    display: flex;
}

.history p {
    display: flex;
    width: 1000px;
    height: auto;
    padding: 3rem;
    flex-wrap: nowrap;
}

.history img {
    width: 200px;
    height: auto;
}

.adventure {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    padding: 3rem;

}

.adventure img {
    width: 300px;
    height: 300px;
    margin: 0rem;
    right: 0;
    left: 0;
}

.map {
    display: flex;
    width: 100;
    height: auto;
    flex-wrap: nowrap;
    align-items: center;
    padding: 3rem;
}

.map p {
    width: 100px;
    height: auto;
    float: right;
    padding: 3rem;
}

.info {
    display: flex;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    padding: 1rem;
}

.info p {
    width: 500px;
    height: auto;
}

.employee {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: nowrap;
    align-items: center;
    padding: 2rem;

}

.employee h4 {
    top: 2px;
    right: 0;
    left: 0;
    text-align: center;
}

.employee img {
    width: 250px;
    height: auto;
    margin: 0rem;
    right: 0;
    left: 0;
}

footer {
    display: grid;
    grid-template-columns: 300px auto;
}

