* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

header, .grid, footer{
    max-width: 840px;
    margin: 0 auto;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

h1 {
    color: steelblue;
    padding-left: 2rem;
    border-bottom: 2px steelblue;
}

main img {
    width: 175px; 
    height: auto;
    border: 1px solid steelblue;
    padding: 0.7px;
    box-shadow: 0 0 20px gray;
    margin: 1rem;
    float: right;
    justify-content: space-evenly;

}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
}

p {
    margin: 1.7rem;
    margin-right: 3rem;
    padding: 0rem
}

aside {
    width: 30em;
    text-align: center;
    position: relative;
    padding: 40px; 
}

aside img {
    width: 290px;
    height: auto;
    margin-top: 1rem;
}

aside h2 {
   text-align: center;
   padding: 0px;
   font-size: 1rem;
   margin-top: 1rem;
   border-bottom: 1px steelblue; 
}

footer {
    margin-top: 1em;
    border-top: 1px solid#333335;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.1) ;
    padding: 0rem;
    background-color: #ddd;
    color: #000;
    align-items: center;
}

.indent {
    padding: 2rem;
}

.grid {
    display: grid;
    align-items: center;
    
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}